.Event__AdditionalInfo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  right: 0;
}

.Event__AdditionalInfo__duration {
  font-weight: normal;
  font-size: 12px;
}
