.Event {
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
  max-width: 100%;
  min-width: 140px;
  position: absolute;
}

.Event--zIndex100 {
  z-index: 100;
}

.Event:hover {
  z-index: 100;
}

.Event--titleHidden {
  visibility: hidden;
}

.Event__eventDescriptionWrapper {
  display: none;
  margin-top: -20px;
}

.Event__eventDescriptionWrapper--balloonOpened {
  display: block;
}

.Event:hover .Event__eventDescriptionWrapper {
  display: block;
}

