.Event__DetailsBalloon {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  top: 35px;
  right: 0;
  width: 350px;
}

.Event__DetailsBalloon__arrow::before {
  content: "";
  position: absolute;
  top: -10px;
  height: 20px;
  width: 20px;
  background: white;
  transform: rotate(45deg);
  border-top:inherit;
  border-left:inherit;
}

.Event__DetailsBalloon__arrow--transformXTo6::before {
  right: 8%;
}

.Event__DetailsBalloon__arrow--transformXTo47::before {
  right: 50%;
}

.Event__DetailsBalloon__arrow--transformXTo87::before {
  right: 90%;
}

.Event__DetailsBalloon > * {
  pointer-events: none;
}
