.Event__DetailsButton {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.Event__DetailsButton__container {
  position: relative;
}

.Event__DetailsButton:focus {
  outline: none;
}

.Event__DetailsButton__svg {
  fill: #6E848C;
}

.Event__DetailsButton:hover {
  background-color: #6E848C;
}

.Event__DetailsButton:hover > .Event__DetailsButton__svg {
  fill: white;
}

.Event__DetailsButton--dark {
  background-color: #6E848C;
}

.Event__DetailsButton--dark > .Event__DetailsButton__svg {
  fill: white;
}


