
.timelineContainer {
  display: flex;
  min-height: 100vh;
}

.timelineContainer__filters {
  background-color: white;
  box-shadow: -0 0 5px grey;
  border-radius: 5px;
  display: flex;
  margin: 5px 5px 0 0;
  padding: 10px;
  position: fixed;
  right: 0;
}

.timelineContainer__filters__button {
  cursor: pointer;
  padding: 5px;
}

.timelineContainer__filters__button--dark {
  background-color: #cecece;
}

.hours {
  background-color: white;
  border-right: 1px solid #ccc;
  flex: 0 0 75px;
  min-height: 100vh;
  padding-top: 22px;
  text-align: right;
}

.hours .hour {
  color: #333;
  font-size: 12px;
  font-weight: bold;
  min-height: 120px; /* hint: 60 * 2 */
  padding: 0 10px;
}

.timeline {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row;
  margin-top: 30px;
  position: relative;
}

.timeline__background {
  background-color: #fbfbfb;
  background-image: url(https://dou6see51s3xi.cloudfront.net/images/dotted_line@2x-30828f84e32ab5fe9a2c45ff19f824e3.png);
  background-size: 2px 30px;
  flex: 1 1 auto;
  padding-left: 10px;
  position: relative;
}

.timeline__column {
  max-width: 300px;
  min-width: 160px;
  flex: 1 0 auto;
  position: relative;
}
