.Event__HoverContainer {
  background-color: white;
  border-radius: 5px;
  bottom: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  left: 0;
  margin: -20px -10px -10px -10px;
  min-height: 70px;
  min-width: 140px;
  padding: 0 0 0 32px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: -1;
  width: auto;
}

.Event__HoverContainer__titleWrapper {
  visibility: hidden;
}
