.Event__DurationBar {
  background: #fad8da;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 16px;
}

.Event__DurationBar--noBottomBorder {
  border-bottom: none; 
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
}
